body {
  margin: 0px;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/319382/pexels-photo-319382.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 18px;
}

.container {
  background-color: rgba(166, 165, 170, 0.6);
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  width: 400px;
  border: 1px solid teal;
}

/* Adding Styling to Sign Up Input field */
.btn {
  cursor: pointer;
  border-radius: 4px;
  width: 90%;
  background-color: rgb(224, 140, 30);
  margin: 1em;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.015rem;
  color: rgb(32, 30, 30);
  border: none;
  outline: none;
}

/* Adding a hover part which happens when you hover on Sign Up */
.btn:hover {
  background-color: tomato;
  transform: translateY(2px);
  transition: 500ms;
}

/* Adding an active part which happens when you click on Sign Up */
.btn:active {
  transform: scale(0.97);
}
