body {
  background-image: url("https://images.pexels.com/photos/319382/pexels-photo-319382.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  height: 100vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.SignUp {
  margin-left: 20px;
}

.maincon {
  background-color: rgba(78, 75, 92, 0.6);
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  width: 700px;
  height: 520px;
  border: 1px solid teal;
}

h1 {
  color: white;
}

h2 {
  color: white;
  padding-top: 50px;
}

.inputdivs {
  margin: 1em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: tomato;
}

p {
  color: white;
}

/*Adding styling to input fields using ids*/
#user_name,
#email,
#password,
#city {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border-radius: 4px;
  box-sizing: border-box;
  border: 2px solid teal;
  outline: none;
  background: #eeeeeeee;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Adding a focus part which happens when you click on the input field */
#user_name:focus,
#email:focus,
#password:focus,
#confirm_password:focus {
  background: white;
  border: 2px solid tomato;
}

/* Adding Styling to Sign Up Input field */
#submitbtn {
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  background-color: rgb(228, 124, 27);
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.015rem;
  color: rgb(51, 48, 48);
  border: none;
  outline: none;
}

/* Adding a hover part which happens when you hover on Sign Up */
#submitbtn:hover {
  background-color: tomato;
  transform: translateY(2px);
  transition: 500ms;
}

/* Adding an active part which happens when you click on Sign Up */
#submitbtn:active {
  transform: scale(0.97);
}
